extends layout

block content
  h1= title
  p Welcome to #{title}
  span#start-game Start Game ||
  span#status-rooms Status Rooms

  #room
    ul.list-unstyled
    form(name="msg", method="post")
        input.form-control(autocomplete="off", placeholder="Сообщение..")

    script.
        var socket = io.connect('', {
            reconnection: true
        });

        var form = $('#room form');
        var ul = $('#room ul');
        var input = $('#room input');
        form.on('submit', sendMessage);
        $('#start-game').on('click', gameStart);
        $('#status-rooms').on('click', roomsStatus);

        input.prop('disabled', false);

        socket
            .on('connect', function () {
                printStatus("соединение установлено");
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('message', function (username, message) {
                 printMessage(username + "> " + message);
            })
            .on('rooms:status', function (username, message) {
                    message = JSON.parse(message);
                    console.log(message);
                    printMessage('rooms in console');
                })
            .on('join', function (username) {
                    printStatus(username + " вошёл в чат");
                })
            .on('leave', function (username) {
                printStatus(username + " вышел из чата");
            });

        function printStatus(status) {
            $('<li>').append($('<i>').text(status)).appendTo(ul);
        }

        function printMessage(text) {
            $('<li>').text(text).appendTo(ul);
        }

        function sendMessage() {
            var text = input.val();
            socket.emit('message', text, function () {
                printMessage("я> " + text);
            });
            input.val('');
            return false;
        }

        function gameStart() {
            socket.emit('game:start');
            return false;
        }

        function roomsStatus() {
            socket.emit('rooms:status');
            return false;
        }