doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/bower_components/socket.io-client/socket.io.js')
    script(src='/vendor/bower_components/jquery/dist/jquery.js')
  body
      if message
      .alert.alert-danger #{message}

      block content

