extends layout

block content
  h1= title
  p Welcome to #{title}

  #room
    ul.list-unstyled
    form(action="/login", method="post")
        div
            label Username:
            input(name="username", type="text", value="admin")

        div
            label Password:
            input(name="password", type="password", value="admin")

        div
            label Password:
            input(value="Login", type="submit")